<meta charset="UTF-8">
<title>Movie</title>

<link type="text/css" rel="stylesheet" href="/static/css/reset.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.4.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/styles.min.css">

<script type="text/javascript" src="/static/js/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>