<meta charset="UTF-8">
<title>Movie</title>

<link type="text/css" rel="stylesheet" href="/static/css/reset.css">
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.4.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/styles.css">

<script type="text/javascript" src="/static/js/libs/angular.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>

<script type="text/javascript" src="/client/app.js"></script>
<script type="text/javascript" src="/client/directives/movie.js"></script>
<script type="text/javascript" src="/client/factories/movieFactory.js"></script>
<script type="text/javascript" src="/client/controllers/mainController.js"></script>
