<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html ng-app="appMovie">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main ng-controller="mainController">
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
